html{
  font-size:18px;
  line-height:1.4;
  font-family:Helvetica;
}
body{
  margin:0;
}
.white {
  color:white;
}
.onerem{
  font-size:1rem;
}
/* BANNER SECTION  */
.banner {
  height:30rem;
  background-image:url(images/glasses-bg.png);
  background-size:cover;
  background-position:center;
  margin:0 0;
  max-width:100%;
}
.banner_top {
  background-color:cadetblue;
  display:flex;
  justify-content:space-between;
  padding:0 2rem;
}
.container{
  display:flex;
}
.logo{
  display:flex;
  align-items:center;
  justify-content:center;
}
.logo img{
  height:1.5rem;
}
.text p{
  padding:1rem 1rem;
  margin:0;
}
.banner_nav{
  display:flex;
  align-items:center;
}
nav a {
  padding-left:2rem;
  text-decoration:none;
  color:white;
}
.banner_main{
  display:flex;
  justify-content:center;
}
.banner_main p {
  margin:0;
  padding:1.5rem 5rem;
  background-color:white;
  font-weight:bold;
  font-size:2rem;
  line-height:1.2;
  position:relative;
  top:10rem;
  left:48%;
}
/* ICONS SECTION */
.container_icon {
  display:flex;
  justify-content:center;

}
.icon{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  text-align:center;
  width:5rem;
  height:8rem;
  margin:3rem;
}
.icon img{
  width:5rem;
}
.icon p{
  margin:0;
}
#ruler{
  width:3.5rem;
}
/* TEXT BOX SECTION */
.phil_appt {
  display:flex;
  justify-content:center;
  margin-bottom:5rem;
}
.container_text{
  width:35%;
  margin-right:5%;
  position:relative;
  left:5%;
}
.heading{
  padding:0.5rem 1.25rem;
  background-color:cadetblue;
  width:10rem;
  font-weight:bold;
}
.container_text p{
  margin-bottom:0;
}
/* FOOTER */
.container_footer{
  display:flex;
  padding:4rem;
  background-color:azure;
  align-items:center;
}
.container_footer img{
  height:1.5rem;
  padding-right:1rem;
  max-width:100%;
}
@media only screen and (max-width:960px){
  .banner_top{
    position:relative;
    top:1rem;
  }
  .banner_main{
    display:flex;
    justify-content:flex-end;
  }
  .banner_main p {
    margin:0;
    padding:1.5rem 5rem;
    background-color:white;
    font-weight:bold;
    font-size:2rem;
    line-height:1.2;
    position:relative;
    top:10rem;
    left:2rem;
}
@media only screen and (max-width:780px){
  html{
    font-size:17px;
  }
  .banner{
    height:15rem;
  }
  .banner_main p{
    padding: 1.25rem 3.5rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2;
    position: relative;
    top: 3rem;
    left: 6rem;
  }
  .banner_main {
    display: flex;
    justify-content: center;
  }
  .banner_top{
    top:0;
  }
  .text p{
    padding:0.75rem 0.75rem;
  }
  .phil_appt {
    margin-bottom: 2.5rem;
}
}
