html{
  font-size:18px;
  line-height:1.4;
  font-family:Helvetica;
}
body{
  margin:0;
}
.white {
  color:white;
}
.onerem{
  font-size:1rem;
}
/* BANNER SECTION  */
.banner {
  height:30rem;
  background-image:url(images/glasses-bg.png);
  background-size:cover;
  background-position:center;
  margin:0 0;
  max-width:100%;
}
.banner_top {
  background-color:cadetblue;
  display:flex;
  justify-content:space-between;
  padding:0 2rem;
}
.container{
  display:flex;
}
.logo{
  display:flex;
  align-items:center;
  justify-content:center;
}
.logo img{
  height:1.5rem;
}
.text p{
  padding:1rem 1rem;
  margin:0;
}
.banner_nav{
  display:flex;
  align-items:center;
}
nav a {
  padding-left:2rem;
  text-decoration:none;
  color:white;
}
.banner_main{
  display:flex;
  justify-content:center;
}
.banner_main p {
  margin:0;
  padding:1.5rem 5rem;
  background-color:white;
  font-weight:bold;
  font-size:2rem;
  line-height:1.2;
  position:relative;
  top:10rem;
  left:48%;
}
/* ICONS SECTION */
.container_icon {
  display:flex;
  justify-content:center;
  border-bottom:1px solid black;

}
.icon{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  text-align:center;
  width:5rem;
  height:8rem;
  margin:3rem;
}
.icon img{
  width:5rem;
}
.icon p{
  margin:0;
}
#ruler{
  width:3.5rem;
}
